.formItem {
    /*font-weight: 200;*/
    color: inherit;
    background: rgba(216, 216, 216, 0.31);
    padding: 15px 0px;
/*     cursor: move; */
    margin-bottom: 5px;
    border: 1px solid rgba(235, 207, 200, 0.55);
/*     border-left: 3px solid rgba(136, 135, 135, 0.81); */
    border-left: 3px solid rgba(95, 122, 207, 1);
}

.dragInfo {
    color: #BDBDBD;
    padding: 30px;
    text-align: center;
}

.itemSearchPanel {
    height: 100%;
    overflow: auto;
}

.itemSearchPanel .formItem {
    cursor: move;
    background-color: white;
}

.itemSearchPanel .formItem.dataelement {
    border-left: 3px solid rgb(224, 73, 53);
}

.itemSearchPanel .formItem.record {
    border-left: 3px solid rgba(49, 11, 224, 1);
}

.searchMdrGroup, .searchMdrRecord, .searchMdrNamespace {
    padding: 8px 10px;
    border: 1px solid rgba(44, 44, 44, 0.36);
    margin-bottom: 5px;
    text-align: left;
    color: rgb(59, 73, 94);
    background-color: rgba(200, 200, 200, 0.48);
    font-size: medium;
    border-radius: 4px;
    font-size: 11pt;
}

.searchMdrGroup {
    border-left: 2px solid rgba(18, 3, 108, 1);
}
.searchMdrRecord {
    border-left: 2px solid rgba(94, 130, 255, 0.81);
}
.searchMdrNamespace {
    border-left: 2px solid rgb(21, 108, 0);
}

.searchMdrGroup:focus, .searchMdrRecord:focus, .searchMdrNamespace:focus {
    outline: none;
    border: 1px solid rgba(59, 73, 94, 0.36);
    border-left: 2px solid rgb(59, 73, 94);
    box-shadow: none !important;
}

ul.nav.nav-third-level li a {
    background-color: rgba(150, 150, 150, 0.48);
    padding-left: 27px !important;
}

ul.nav.nav-third-level li a:hover, ul.nav.nav-fourth-level li a:hover, ul.nav.nav-fifth-level li a:hover {
    background-color: rgba(150, 150, 150, 0.48);
}

ul.nav.nav-fourth-level li a {
    background-color: rgba(150, 150, 150, 0.48);
    padding-left: 39px !important;
}

ul.nav.nav-fifth-level li a {
    background-color: rgba(150, 150, 150, 0.48);
    padding-left: 51px !important;
}

ul.nav.nav-sixth-level li a {
    background-color: rgba(150, 150, 150, 0.48);
    padding-left: 61px !important;
}

/* items inside multiLevelMenu */
div.formItem.draggableItem {
    padding: 5px;
    padding-left: 15px;
}

div.formItem.draggableItem>div.designation {
    font-size: 10.5pt;
    padding-bottom: 2px;
}

div.formItem.draggableItem>div.definition {
    font-size: 9.5pt;
}

.searchMdrGroupIcon {
    color: rgba(56, 70, 91, 0.47);
    padding-right: 8px;
}

/* Form items muli-level menu on the data element search/list (right panel) */
ul.nav.multiLevelMenu li.active>a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

ul.nav.multiLevelMenu li.active>ul.nav {
    padding: 0px 4px 6px 8px;
    background-color: rgb(250, 250, 250);
    border-left: 2px solid rgba(59, 73, 94, 0.3);
    border-bottom: 1px solid rgba(59, 73, 94, 0.3);
    border-right: 1px solid rgba(59, 73, 94, 0.3);
}

.sortableItemPanel {
    border: 1px dashed rgba(241, 148, 125, 0.83);
    height: 100%;
    padding: 10px 20px;
    background-color: white;
}

@media (max-width: 1199px) {
    .valuesSingle .mdrItemValue, .valuesBetween .mdrItemValue {
	   margin-top: 10px;
    }
}

.designation {
    color: black;
    font-size: large;
}

.mdrItemValue {
    height: 34px;
}

.groupContent {
    margin: 17px 0 0 20px; 
}

.droppableActive {
    padding-bottom: 50px !important;
}

.droppableHover {
    padding-bottom: 100px !important;
    background-color: white !important;
    border-left: 3px solid rgb(249, 133, 50);
}

.buttonMargin {
    margin-left: 8px;
}

.unknownMdrElement .mdrItemLabel .mdrfaces-label {
	text-decoration: line-through;
}

.disabledCriteriaDiv .catalog-control {
    display: none;
}