<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:cwu="http://share.samply.de/common-webutils"
      xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

<cc:interface>
    <cc:attribute name="mdrId" required="true" />
    <cc:attribute name="designation" required="true" />
    <cc:attribute name="definition" required="false" />
    <cc:attribute name="enumElementType" required="true" />
    <cc:attribute name="aStyleClass" required="false" />
    <cc:attribute name="iStyleClass" required="false" />
    <cc:attribute name="searchString" required="false" />
    <cc:attribute name="extendedName" required="false" />
</cc:interface>

<cc:implementation>

    <ui:param name="mdrIdItem" value="#{cwu:getMdrIdDatatype(cc.attrs.mdrId)}" />

    <h:panelGroup layout="block" class="formItem draggableItem dataelement"
                  rendered="#{cc.attrs.enumElementType == 'DATAELEMENT'}" pass:data-toggle="popover" pass:data-placement="top" pass:data-title="#{cc.attrs.designation}" pass:data-content="Source: #{cc.attrs.extendedName} &lt;br /&gt;Version: #{mdrIdItem.version}">
        <input type="hidden" id="mdrId" value="#{cc.attrs.mdrId}" />
        <div class="designation">#{cc.attrs.designation}</div>
        <div class="definition">#{cc.attrs.definition}</div>
    </h:panelGroup>

    <h:commandLink action="#{ItemSearchController.onRecordClick(cc.attrs.mdrId)}"
                   styleClass="#{cc.attrs.aStyleClass}"
                   rendered="#{cc.attrs.enumElementType == 'RECORD'}">
        <f:ajax execute="@this" render="@none"/>
        <i class="#{cc.attrs.iStyleClass}" /> #{cc.attrs.designation}
    </h:commandLink>

    <h:commandLink action="#{ItemSearchController.onDataElementGroupClick(cc.attrs.mdrId)}"
                   styleClass="#{cc.attrs.aStyleClass}"
                   rendered="#{cc.attrs.enumElementType == 'DATAELEMENTGROUP'}">
        <f:ajax execute="@this" render="@none"/>
        <i class="#{cc.attrs.iStyleClass}" /> #{cc.attrs.designation}
    </h:commandLink>

    <h:commandLink action="#{ItemSearchController.onNamespaceClick(cc.attrs.mdrId)}"
                   styleClass="#{cc.attrs.aStyleClass}"
                   rendered="#{cc.attrs.enumElementType == 'NAMESPACE'}">
        <f:ajax execute="@this" render="@none"/>
        <i class="#{cc.attrs.iStyleClass}" /> #{cc.attrs.designation}
    </h:commandLink>

    <h:panelGroup layout="block" class="formItem draggableItem"
                  rendered="#{cc.attrs.enumElementType == 'CATALOGUEELEMENT'}" pass:data-toggle="popover" pass:data-placement="top" pass:data-title="#{cc.attrs.designation}" pass:data-content="Source: #{cc.attrs.extendedName} &lt;br /&gt;Version: #{mdrIdItem.version}">
        <input type="hidden" id="mdrId" value="#{cc.attrs.mdrId}" />
        <input type="hidden" id="searchString" value="#{cc.attrs.searchString}" />
        <div class="designation">#{cc.attrs.designation}</div>
        <div class="definition">#{cc.attrs.definition}</div>
    </h:panelGroup>
    <h:commandLink action="#{ItemSearchController.onCatalogueGroupClick(cc.attrs.mdrId)}"
                   styleClass="#{cc.attrs.aStyleClass}"
                   rendered="#{cc.attrs.enumElementType == 'CATALOGUEGROUP'}">
        <f:ajax execute="@this" render="@none" />
        <i class="#{cc.attrs.iStyleClass}" /> #{cc.attrs.designation}
    </h:commandLink>
</cc:implementation>
</ui:composition>