<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces">

    <cc:interface>
        <cc:attribute name="title" />
        <cc:attribute name="cancelOutcome" />
        <cc:attribute name="storeAction"
                             method-signature="java.lang.String action()" required="false" />
        <cc:attribute name="storeAndReleaseAction"
                             method-signature="java.lang.String action()" required="false" />
        <cc:attribute name="backAction"
                             method-signature="java.lang.String action()" />
        <cc:attribute name="selectViewFieldsAction"
                      method-signature="java.lang.String action()" />
        <cc:attribute name="catalogueBaseUrl" required="false" />
    </cc:interface>
    
    <cc:implementation>
        <h:outputStylesheet name="css/queryBuilder.css" />
        <h:outputStylesheet name="webjars/animate.css/3.5.2/animate.css" />
        <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" target="head" />
        <h:outputScript name="webjars/metisMenu/2.7.0/metisMenu.min.js" target="head" />
        <h:outputScript name="webjars/jquery-blockui/2.70/jquery.blockUI.js" target="head" />

        <div class="col-sm-8 content-left">

            <div id="page-wrapper" class="fadein" style="padding: 20px;">

                <div class="panel panel-default">
                    <div class="panel-body query-builder-panel">

                    <h:form role="form" class="newQueryForm" id="newQueryForm">

                        <mf:dynamicCatalogueModal />

                        <h:panelGroup styleClass="form-group" id="messagesDiv" layout="block">
                            <o:messages escape="false" id="messages" showDetail="true"
                                var="message">
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
                                        <span aria-hidden="true">&#xA0;</span>
                                    </button>
                                    <p>#{message.summary}</p>
                                </div>
                            </o:messages>
                        </h:panelGroup>

                        <h:panelGroup styleClass="form-group" id="criteriaDiv" layout="block">
                            <label>#{cc.attrs.title}</label>
                            <ssc:editForm />
                        </h:panelGroup>


                            <!-- Buttons -->
                            <div class="row">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <h:link outcome="#{cc.attrs.cancelOutcome}"
                                            value="#{msg['queryBuilder.cancel']}"
                                            rendered="#{cc.attrs.cancelOutcome ne null}"
                                            class="btn btn-danger cancelButton" onclick="deleteValuesFromLocalStorage()" />

                                     <h:panelGroup rendered="#{not empty cc.attrs.backAction}">
                                         <h:commandButton value="#{msg['queryBuilder.back']}"
                                                          styleClass="btn btn-primary buttonMargin backButton"
                                                          pass:data-loading-text="#{msg['pleaseWait']}..."
                                                          action="#{cc.attrs.backAction}"
                                                          onclick="$(this).button('loading');
                                                            $('.cancelButton').addClass('disabled');
                                                            $('.saveButton').addClass('disabled');
                                                            $('.selectViewfieldsButton').addClass('disabled');
                                                            $('.saveAndReleaseButton').addClass('disabled');"/>
                                     </h:panelGroup>

                                    <h:panelGroup styleClass="pull-right">
                                        <h:panelGroup rendered="#{not empty cc.attrs.storeAction}">
                                                <h:commandButton value="#{msg['query_store']}"
                                                    styleClass="btn btn-default buttonMargin saveButton"
                                                    pass:data-loading-text="#{msg['pleaseWait']}..."
                                                    action="#{cc.attrs.storeAction}"
                                                    onclick="$(this).button('loading');
                                                        $('.backButton').addClass('disabled');
                                                        $('.cancelButton').addClass('disabled');
                                                        $('.selectViewfieldsButton').addClass('disabled');
                                                        $('.saveAndReleaseButton').addClass('disabled');">
                                                </h:commandButton>
                                        </h:panelGroup>

                                        <h:panelGroup rendered="#{not empty cc.attrs.selectViewFieldsAction}">
                                            <h:commandButton value="#{msg['selectViewFields']}"
                                                             styleClass="btn btn-default buttonMargin selectViewfieldsButton"
                                                             pass:data-loading-text="#{msg['pleaseWait']}..."
                                                             action="#{cc.attrs.selectViewFieldsAction}"
                                                             onclick="$(this).button('loading');
                                                                $('.backButton').addClass('disabled');
                                                                $('.cancelButton').addClass('disabled');
                                                                $('.saveButton').addClass('disabled');
                                                                $('.saveAndReleaseButton').addClass('disabled');">
                                            </h:commandButton>
                                        </h:panelGroup>

                                        <h:panelGroup rendered="#{empty cc.attrs.storeAndReleaseAction}">
		                                    <h:commandButton value="#{msg['storeQuery']}"
                                                             styleClass="btn btn-success buttonMargin saveAndReleaseButton"
                                                             pass:data-loading-text="#{msg['pleaseWait']}..."
		                                                     action="#{cc.attrs.storeAction}"
                                                             onclick="deleteValuesFromLocalStorage();
                                                                $(this).button('loading');
                                                                $('.cancelButton').addClass('disabled');
                                                                $('.saveButton').addClass('disabled');
                                                                $('.selectViewfieldsButton').addClass('disabled');
                                                                $('.backButton').addClass('disabled');" />
	                                    </h:panelGroup>

                                        <h:panelGroup rendered="#{not empty cc.attrs.storeAndReleaseAction}">
                                            <h:commandButton value="#{msg['storeAndReleaseQuery']}"
                                                             styleClass="btn btn-success buttonMargin saveAndReleaseButton"
                                                             pass:data-loading-text="#{msg['pleaseWait']}..."
                                                             action="#{cc.attrs.storeAndReleaseAction}"
                                                             onclick="deleteValuesFromLocalStorage();
                                                                $(this).button('loading');
                                                                $('.cancelButton').addClass('disabled');
                                                                $('.saveButton').addClass('disabled');
                                                                $('.selectViewfieldsButton').addClass('disabled');
                                                                $('.backButton').addClass('disabled');" />
                                        </h:panelGroup>

                                </h:panelGroup>
                            </div>
                        </div>

                        <!-- sends the query tree to the server,
                             retrieves the serialized query as string
                            and writes the result to the local storage -->
                        <o:commandScript name="performSerializationOnServerAndStoreResultLocally"
                                         action="#{SearchController.serializeQuery}"
                                         execute="@form"
                                         onbegin="updateQuery();"
                                         render=":localValuesForm"
                                         oncomplete="writeValuesToLocalStorage();"
                                         />
                        <o:commandScript name="storeInquiry"
                                         action="#{SearchController.onSubmit}"
                                         execute="@form"
                                         onbegin="updateQuery();"
                                         render=":localValuesForm"
                                         oncomplete="writeValuesToLocalStorage();"
                                         />
                       <!-- Save and Logout Commandscript -->
                       <o:commandScript name="storeAndLogout"
                                action="#{SearchController.onSubmit}"
                                execute="@form"
                                oncomplete="$('.logoutElement a').click();"
                                />
                    </h:form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 itemSearchPanel content-right" style="padding: 20px;">
            <ssc:itemSearch />
        </div>

        <h:outputScript name="js/queryBuilder.js" target="head" />
        
        <h:outputScript name="js/queryRestoration.js" target="head" />
        
        <ssc:sessionTimeoutModal />     
        <ssc:pleaseWaitModal />
        
    </cc:implementation>
</ui:composition>